@inherits LayoutComponentBase

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <!-- Centered search input -->
            <MudTextField T="string"
                          StartIcon="Icons.Material.Filled.Search"
                          Placeholder="Search..."
                          Variant="Variant.Outlined"
                          Color="Color.Primary"
                          Class="search-input" />

            <!-- Signin button -->
            <MudButton Variant="Variant.Outlined">Signin</MudButton>
        </div>


        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

