<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AmazonSimulatorApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
@* 
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
 *@
    @*     <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div> *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ClothesPage">
                <!-- Icon for Clothes -->
                <span class="bi bi-tshirt" aria-hidden="true"></span> Clothes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="DevicesPage">
                <!-- Icon for Devices -->
                <span class="bi bi-phone" aria-hidden="true" ></span> Devices
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MakupPage">
                <!-- Icon for Makup -->
                <span class="bi bi-palette" aria-hidden="true"></span> Mackeup
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ShoesPage">
                <!-- Icon for Shoes -->
                <span class="bi bi-shoe-prints" aria-hidden="true"></span> Shoes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AllProds">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> All Products
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AddProduct">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Add Product
            </NavLink>
        </div>
    </nav>
</div>

