@page "/"

<div class="card-container">
    <MudCard class="card1">
        <MudCardMedia Image="../bootstrap/images/clothes.jpg" Height="200" />
        <MudCardContent>
            <MudText Typo="Typo.h5">Clothes</MudText>
        </MudCardContent>
        <MudCardActions>
            <MudText Typo="Typo.body2">Discover what's new.</MudText>
        </MudCardActions>
    </MudCard>

    <MudCard class="card2">
        <MudCardMedia Image="../bootstrap/images/devices.jpg" Height="200" />
        <MudCardContent>
            <MudText Typo="Typo.h5">devices</MudText>
        </MudCardContent>
        <MudCardActions>
            <MudText Typo="Typo.body2">Discover what's new.</MudText>
        </MudCardActions>
    </MudCard>

    <MudCard class="card3">
        <MudCardMedia Image="../bootstrap/images/makeup.jpg" Height="200" />
        <MudCardContent>
            <MudText Typo="Typo.h5">Makeup</MudText>
        </MudCardContent>
        <MudCardActions>
            <MudText Typo="Typo.body2">Discover what's new.</MudText>
        </MudCardActions>
    </MudCard>

    <MudCard class="card4">
        <MudCardMedia Image="../bootstrap/images/shoes.jpg" Height="200" />
        <MudCardContent>
            <MudText Typo="Typo.h5">Shoes</MudText>
        </MudCardContent>
        <MudCardActions>
            <MudText Typo="Typo.body2">Discover what's new.</MudText>
        </MudCardActions>
    </MudCard>
</div>